@model MyApplication.Models.ViewModels.NaftalanPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Naftalan</title>
</head>
<body>
    <nav>

        <div class="container">

            <div class="navbar">

                <a href="/About"> Haqqımızda </a>

                <a href="/Azerbaijan"> Azərbaycan </a>

                <a href="/Service"> Xidmətlər </a>

                <a href="/Event"> Coming Events </a>

                <a href="/OnlinePayment"> Online Odəniş </a>

                <a href="/Contact">
                    Əlaqə
                </a>

                <li class="sign">
                    <a href="https://www.facebook.com">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>

            </div>
        </div>


    </nav>


    <section id="main">

        <div class="col-sm-12">
            <img src="~/images/@Model.NaftalanPage.ImagePath">
            <div class="title"> @Model.NaftalanPage.ImageText </div>
        </div>
    </section>
    <main>

        <section id="tours">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="country">
                                @Model.NaftalanPage.SubTitle →
                            </div>
                            <div class="panelRight">
                                <div class="endingTime">
                                    <div class="endTour">
                                        Tur məlumatı:
                                    </div>
                                    <div class="time">
                                        <i class="far fa-clock"></i>
                                        @Model.NaftalanPage.Duration
                                    </div>

                                </div>
                                <div class="codeViews">
                                    <div class="code">
                                        Kod:@Model.NaftalanPage.Code
                                    </div>
                                </div>

                                <div class="price">
                                    <div class="usd">
                                        $@Model.NaftalanPage.Price
                                    </div>
                                </div>

                            </div>

                            <div class="heading">
                                @Model.NaftalanPage.Title
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="infoPanel">
                            <div class="gallery">
                                <div class="image">
                                    <img src="~/images/@Model.NaftalanPage.TourImage">
                                </div>


                            </div>

                            <div class="buttonList">
                                <div class="buttonItem">
                                    <a href="@Model.NaftalanPage.TourInformation">
                                        <div class="icon">
                                            <i class="fas fa-info"></i>
                                        </div>
                                        <span> <b>Məlumat </b> </span>
                                    </a>
                                </div>

                                <div class="buttonItemVideo">

                                    <a href="@Model.NaftalanPage.TourVideo">

                                        <div class="icon">
                                            <i class="fas fa-video"></i>
                                        </div>

                                        <span> <b> Video </b> </span>
                                    </a>
                                </div>

                                <div class="buttonItem">
                                    <a href="@Model.NaftalanPage.TourCheckIn">

                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>

                                        <span> <b>Xəritədə Göstər</b> </span>


                                    </a>
                                </div>
                            </div>
                            <div class="titleN">
                                @Model.NaftalanPage.TourName
                            </div>
                            <div class="textN">
                                <p>
                                    <span> @Model.NaftalanPage.TourText </span>

                                    <br>
                                    <span> ------------ </span>
                                    <br>
                                    <span> Tarix: </span>
                                    <br>
                                    <span>@Model.NaftalanPage.TourTime </span>
                                    <br>
                                    <span> ------- </span>
                                    <br>
                                    <span> Otellər və Qiymətlər: </span>
                                    <br>
                                    @foreach (var item in Model.NaftalanDescriptions)
                                    {
                                        <span> @item.Hotels </span>
                                        <br />
                                    }

                                    <br>
                                    <span> --------- </span>
                                    <br>
                                    <span> QİYMƏTƏ DAXİLDİR: </span>
                                    <br>
                                    <span> - Otel (7 gecə/8gün) </span>
                                    <br>
                                    <span> - Qidalanma (gündə 3 dəfə) </span>
                                    <br>
                                    <span> - Müalicə və müayinə </span>
                                    <br>
                                    <span> - Fitnes və SPA xidmətləri </span>
                                    <br>
                                    <span> -------- </span>
                                    <br>
                                    <span> <b>Qeyd</b> </span>
                                    <br>
                                    <span>@Model.NaftalanPage.TourAdditional </span>
                                    <br>
                                    <span> @Model.NaftalanPage.TourAdditionalSecond </span>
                                    <br>
                                    <span> -------------- </span>
                                    <br>
                                    <span> BİZİMLƏ ƏLAQƏ: </span>
                                    <br>
                                    <span> @Model.NaftalanPage.Number </span>
                                    <br>
                                    <span> @Model.NaftalanPage.SecondNumber </span>
                                    <br>
                                    <span> Email: @Model.NaftalanPage.Email </span>
                                    <br>
                                    <span> @Model.NaftalanPage.SiteAddress </span>
                                    <br>
                                    <span> @Model.NaftalanPage.Address </span>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="additional">
                            <div class="title">
                                TUR HAQQINDA MƏLUMAT
                            </div>
                            <div class="section">
                                <div class="name">
                                    Otel
                                </div>
                                <div class="value">
                                    <input type="radio" name="tour77" value="77:399" class="hotelPrice" id="t77699" checked>
                                    <label for="t77699">

                                        QASHALTİ HOTEL 5* —
                                        <span class="usd"> $700 </span>
                                    </label>
                                </div>

                                <div class="value">
                                    <input type="radio" name="tour77" value="77:399" class="hotelPrice" id="t77700" checked>
                                    <label for="t77700">

                                        CHİNAR HOTEL 5* —
                                        <span class="usd"> $830 </span>
                                    </label>
                                </div>


                                <div class="value">
                                    <input type="radio" name="tour77" value="77:399" class="hotelPrice" id="t77701" checked>
                                    <label for="t77701">

                                        QARABAG HOTEL 5* —
                                        <span class="usd"> $930 </span>
                                    </label>
                                </div>

                            </div>
                            <div class="section">
                                <div class="labelFull">
                                    Tura daxildir:
                                </div>

                                <div class="valueHalf">
                                    <div class="icon">
                                        <i class="fas fa-bed"></i>
                                    </div>
                                    <span> Otel </span>
                                </div>

                                <div class="valueHalf">
                                    <div class="icon">
                                        <i class="fas fa-utensils"></i>
                                    </div>
                                    <span> Yemək </span>
                                </div>

                                <div class="valueHalf">
                                    <div class="icon">
                                        <i class="fas fa-car"></i>
                                    </div>
                                    <span> Transfer </span>
                                </div>
                            </div>
                            <div class="section">
                                <!--<div class="valueEnd">
                                    <span class="black">
                                    BUNDAN AŞAĞI QİYMƏT TAPMISIZ? BİZƏ BİLDİRİN BİZ DAHA SƏRFƏLİ QİYMƏT TƏQDİM EDƏK! </span>
                                </div> -->
                            </div>
                            <div class="actions">
                                <a href="/Bron/Naftalan" class="buttonOrder">

                                    Bron Et
                                </a>
                            </div>
                        </div>
                        <div class="help">
                            <div class="title">
                                KÖMƏK LAZIMDI?
                            </div>
                            <div class="text">
                                @Model.NaftalanPage.AboutTourText
                            </div>
                            <div class="links">
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <span> @Model.NaftalanPage.AboutTourNumber </span>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <section id="contacts">

        <div class="container">

            <form name="sendmessage">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12">
                        <div class="titleWrite">

                            BİZƏ YAZIN

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">

                        <label for="lname"> Ad </label>
                        <input type="text" name="lname" id="name" placeholder="Adınızı daxil edin">
                    </div>
                    <div class="col-md-4">

                        <label for="lsurname"> Soyad </label>
                        <input type="text" name="lsurname" id="surname" placeholder="Soyadınızı daxil edin">
                    </div>
                    <div class="col-md-4">

                        <label for="lsurname"> Email </label>
                        <input type="text" name="email" id="email" placeholder="Email ünvanınızı daxil edin">
                    </div>
                </div>

                <div class="row">


                    <div class="col-md-4">
                        <label for="number"> Mobil Nömrəniz </label>
                        <input type="number" id="number" name="number" pattern="[0-9]{3}-[2-9]{3}-[0-9]{2}-[0-9]{2}" placeholder="Mobil nömrənizi daxil edin">
                    </div>

                    <div class="col-md-8">
                        <label for="text"> Mesajınız</label>
                        <textarea name="text" id="message" placeholder="Mesajınızı daxil edin"></textarea>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="submitBtn">
                            <input type="submit" class="button" id="button" value="Məktubu göndərin" data-loading="YÜklənir">

                        </div>
                    </div>

                </div>
            </form>

        </div>

    </section>

    @section script {
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: "/Home/Footer",
                    method: "get",
                    success: function (re) {

                        $(".same").append(re.addreses);
                        $(".sameTwo").append(re.faxes);
                        $(".sameThree").append(re.numbers);
                        $(".sameFour").append(re.mails);
                        $(".sameFive").append(re.siteadress);
                        $("#titleee").append(re.title);
                        $(".longText").append(re.desciption);
                    }
                })
                $("#button").click(function () {
                    let name = $("#name").val();
                    let surname = $("#surname").val();
                    let email = $("#email").val();
                    let phone = $("#number").val();
                    let message = $("#message").val();
                    let __RequestVerificationToken = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        url: "/Health/Naftalan",
                        data: {
                            Name: name,
                            Surname: surname,
                            Email: email,
                            Number: phone,
                            Messaging: message,
                            __RequestVerificationToken: __RequestVerificationToken
                        },
                        method: "post",
                        success: function (re) {

                            alert('Message sent');
                        },
                        error: function (re) {
                            alert('Error');
                        }
                    })
                })
            });

        </script>
        }
    </body>
</html>
