@model MyApplication.Models.Event

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventIcon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventIcon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventAction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventAction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Service.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
