@model MyApplication.Models.LankaranPage

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LankaranPage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SecondAdditional)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondAdditional)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AboutTourText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AboutTourText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AboutTourNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AboutTourNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourInformation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourInformation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourVideo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourVideo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourCheckIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourCheckIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourAdditional)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourAdditional)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SecondNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiteAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
