@model MyApplication.Models.Health

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Health</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TourImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourIcon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourIcon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourAction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourAction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Service.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tour.ImagePath)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
